html, body
{
	height: 95%;
	overflow:hidden;
}

.ui-tabs-nav
{
	padding: 5;
}

#tabs
{
	height: 100%;
	padding: 0;
}

body
{
	margin: 0;
}

#tab-content
{
	height: 90%;
	overflow: scroll;
	padding: 0;
}

 #types, #species
{
	height: 95%;
	padding: 10;
}

ul.ui-tabs-nav 
{
	/* don't need border or rounded corners - tabs 'fill' the pane */
	border-top:		0 !important;
	border-left:	0 !important;
	border-right:	0 !important;
	padding-bottom:	0 !important;
	-moz-border-radius:		0 !important;
	-webkit-border-radius:	0 !important;
}
